{% extends "main.html.twig" %}

{% block header %}

<img class="recipe-img-header cover" src={{ data.img }}>

{% endblock %}

{% block content %}

<div>
    <div class="recipe-detail-block block shadow">
        <div id="recipe-img-details">
            
            <img class="cover" id="recipe-img-side" src={{ data.img }}>
            
            <div id="recipe-details" class="d-flex flex-column justify-content-between">
                <div id="recipe-container" class="d-flex flex-column">
                    
                    <div id="recipe-info-icons" class="d-flex flex-row">
                        <i class="fa-solid fa-user-group recipe-icon"></i><p class="icon-value">4</p>
                        <i class="fa-solid fa-euro-sign recipe-icon"></i><p class="icon-value">{{(data.price/100)|round}}</p>
                        <i class="fa-solid fa-fire-flame-curved recipe-icon"></i><p class="icon-value">{{(data.kcal/4)|round}}</p>
                    </div>
                    
                    <div class="d-flex flex-row justify-content-between between">
                        <h3 class="recipe-title flex-grow-1">{{data.title}}</h3>
                        
                        <div>
                            <a><i class="fa-regular fa-star rating-star"></i></a>
                            <a><i class="fa-regular fa-star rating-star"></i></a>
                            <a><i class="fa-regular fa-star rating-star"></i></a>
                            <a><i class="fa-regular fa-star rating-star"></i></a>
                            <a><i class="fa-regular fa-star rating-star"></i></a>
                        </div>

                    </div>
                    
                    <div class="d-flex flex-row justify-content-between between">

                        <div class="d-flex flex-row align-items-center">
                            <h5 class="recipe-title cuisine-type-title">Keuken</h5>
                            <p class="cuisine-type">{{data.cuisine}}</p>
                        </div>

                        <div class="d-flex flex-row align-items-center">
                            <h5 class="recipe-title cuisine-type-title">Type</h5>
                            <p class="cuisine-type">{{data.type}}</p>
                        </div>

                    </div>
                    
                    <p>{{data.descr_long}}</p>

                </div>

                <div class="d-flex flex-row justify-content-between between">
                    
                    <a class="recipe-btn"><h5>Op lijst</h5></a>

                    <a id="favourite-btn"><i id="favourite-icon" class="fa-regular fa-heart recipe-icon"></i></a>  

                </div>           
            </div>       
        </div>
    </div>

    <div class="recipe-detail-block block shadow tabbable" id="tabs-695485">
        
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active show" href="#tab1" data-bs-toggle="tab"><h5>Ingrediënten</h5></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab2" data-bs-toggle="tab"><h5>Bereidingswijze</h5></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab3" data-bs-toggle="tab"><h5>Opmerkingen</h5></a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div id="ingredients">
                    
                    {% for ingredient in data.ingredients %}
                        <pre>{{dump(ingredient.product_id)}}</pre>
                        <pre>{{dump(ingredient.img)}}</pre>
                        <pre>{{dump(ingredient.name)}}</pre>
                        <pre>{{dump(ingredient.descr)}}</pre>
                        <pre>{{dump(ingredient.amount)}}</pre>
                        <pre>{{dump(ingredient.unit)}}</pre>

                    {% endfor %}

                </div>
            </div>

            <div class="tab-pane" id="tab2">
                <div>
                    
                    {% for instruction in data.instructions %}

                        <pre>{{dump(instruction.info_numeric)}}</pre>
                        <pre>{{dump(instruction.info_txt)}}</pre>

                    {% endfor %}

                </div>
            </div>

            <div class="tab-pane" id="tab3">
                <div>

                    {% for comment in data.comments %}

                        <pre>{{dump(comment.img)}}</pre>
                        <pre>{{dump(comment.user_name)}}</pre>
                        <pre>{{dump(comment.info_txt)}}</pre>

                    {% endfor %}

                </div>
            </div>

        </div>

    </div>
</div>




{% endblock %}