{% extends "main.html.twig" %}

{% block header %}

<img class="recipe-img-header cover" src={{ data.img }}>

{% endblock %}

{% block content %}

<div>
    <div class="recipe-detail-block block shadow">
        <div id="recipe-img-details">
            
            <img class="cover" id="recipe-img-side" src={{ data.img }}>
            
            <div id="recipe-details" class="d-flex flex-column justify-content-between">
                <div id="recipe-container" class="d-flex flex-column">
                    
                    <div id="recipe-info-icons" class="d-flex flex-row">
                        <i class="fa-solid fa-user-group recipe-icon"></i><p class="icon-value">4</p>
                        <i class="fa-solid fa-euro-sign recipe-icon"></i><p class="icon-value">{{(data.price/100)|round}}</p>
                        <i class="fa-solid fa-fire-flame-curved recipe-icon"></i><p class="icon-value">{{(data.kcal/4)|round}}</p>
                    </div>
                    
                    <div class="d-flex flex-row justify-content-between between">
                        <h3 class="green recipe-title flex-grow-1">{{data.title}}</h3>
                        
                        <div id="stars">
                            <a><i data-value="1" class="fa-regular fa-star rating-star"></i></a>
                            <a><i data-value="2" class="fa-regular fa-star rating-star"></i></a>
                            <a><i data-value="3" class="fa-regular fa-star rating-star"></i></a>
                            <a><i data-value="4" class="fa-regular fa-star rating-star"></i></a>
                            <a><i data-value="5" class="fa-regular fa-star rating-star"></i></a>
                        </div>

                    </div>
                    
                    <div class="d-flex flex-row justify-content-between between">

                        <div class="d-flex flex-row align-items-center">
                            <h5 class="green cuisine-type-title">Keuken</h5>
                            <p class="cuisine-type">{{data.cuisine}}</p>
                        </div>

                        <div class="d-flex flex-row align-items-center">
                            <h5 class="green cuisine-type-title">Type</h5>
                            <p class="cuisine-type">{{data.type}}</p>
                        </div>

                    </div>
                    
                    <p>{{data.descr_long}}</p>

                </div>

                <div class="d-flex flex-row justify-content-between between">
                    
                    <a class="recipe-btn" id="add-cart"><h5>Op lijst</h5></a>

                    <a id="favourite-btn"><i id="favourite-icon" class="fa-regular fa-heart recipe-icon"></i></a>  

                </div>           
            </div>       
        </div>
    </div>

    <div class="recipe-detail-block block shadow tabbable" id="tabs-695485">
        
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active show" href="#tab1" data-bs-toggle="tab"><h5 class="green">Ingrediënten</h5></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab2" data-bs-toggle="tab"><h5 class="green">Bereidingswijze</h5></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#tab3" data-bs-toggle="tab"><h5 class="green">Opmerkingen</h5></a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div id="ingredients">                 
                    {% for ingredient in data.ingredients %}
                        
                        <div class="d-flex">

                            <img class="tab-img" src={{"assets/img/products/#{ingredient.product_id}.png"}}>

                            <div class="tab-info d-flex flex-column">                       
                                <h5 class="green">{{ingredient.name}}</h5>
                                <p class="ingredient-descr">{{ingredient.descr}}</p>
                                 <div>
                                    <h5 class="green amount">Hoeveelheid:</h5> <p class="amount">{{ingredient.amount}} {{ingredient.unit}}</p>
                                </div>
                            </div>

                        </div>

                    {% endfor %}
                </div>
            </div>

            <div class="tab-pane" id="tab2">
                <div>
                    
                    {% for instruction in data.instructions %}

                        <div class="d-flex">

                            <div class="tab-img d-flex justify-content-center align-items-center">
                                <div class="step-circle d-flex justify-content-center align-items-center">
                                    <p class="instruction-number">{{instruction.info_numeric}}.</p>
                                </div>
                            </div>

                            <p class="tab-info instruction-text">{{instruction.info_txt}}</p>

                        </div>
                        
                    {% endfor %}

                </div>
            </div>

            <div class="tab-pane" id="tab3">
                <div>

                    {% for comment in data.comments %}

                        <div class="d-flex">
                            <img class="tab-img profile-pic" src={{"assets/img/users/#{comment.user_id}.png"}}></img>

                            <div class="tab-info">
                                <h4 class="green">{{comment.user_name}}</h4>
                                <p>{{comment.info_txt}}</p>
                            </div>

                        </div>
                        
                    {% endfor %}

                </div>
            </div>

        </div>

    </div>
</div>

<script>

    //////////////////////////////// SHOW RECIPE RATING ///////////////////////////////
    
    function showRating(average) {

        $(".rating-star").each((index, rating_star) => {

            const star_value = $(rating_star).attr("data-value");
    
            if(average >= star_value ) {

                $(rating_star).removeClass("fa-regular");
                $(rating_star).addClass("fa-solid");
            } 
            if(average < star_value) {

                $(rating_star).removeClass("fa-solid");
                $(rating_star).addClass("fa-regular");

            };
        });
    }

    showRating({{data.avg_rating}});

    //////////////////////////////// RATE RECIPE /////////////////////////////////////////

    $(".rating-star").on("click", function() {
        
        var chosen_rating = $(this).attr("data-value");

        $.ajax({
            
            url: "index.php",
            method: "GET",
        	data: {'action': 'rating', 'recipe_id': {{data.id}}, 'rating': chosen_rating},
            dataType: "JSON",
            success: function(result) {

                var new_average = result.new_average;
                
                showRating(new_average);
            }
        });
    });

    $(".rating-star").hover(function() {

       var hover_rating = $(this).attr("data-value"); 

        $(".rating-star").each((index, rating_star) => {

            const star_value = $(rating_star).attr("data-value");
    
            if(hover_rating >= star_value ){

                $(rating_star).removeClass("fa-regular");
                $(rating_star).addClass("fa-solid");
            } else {

                $(rating_star).removeClass("fa-solid");
                $(rating_star).addClass("fa-regular");

            }
        });

    });

    $("#stars").on("mouseleave", function() {

            showRating({{data.avg_rating}});

    });

    
    //////////////////////////////// ADD PRODUCTS TO CART /////////////////////////////////////////
    
    $("#add-cart").on("click", function() {

        $.ajax({
            url: "index.php",
            method: "GET",
            data: {"action" : "add_to_cart", "recipe_id" : {{data.id}}},
            success: function(result){

                console.log("success");
                $("#add-cart").css("background-color", "var(--lighter-green)");
                $("#add-cart").html("<h4>Toegevoegd</h4>");

            }
        });
    });


</script>

{% endblock %}