{% extends "main.html.twig" %}

{% block header %}

{##########################CAROUSEL#######################}
<div class="carousel slide" id="carousel-977957">
    
    <ol class="carousel-indicators">
        <li data-bs-slide-to="0" data-bs-target="#carousel-977957" class="active">
        </li>
        <li data-bs-slide-to="1" data-bs-target="#carousel-977957">
        </li>
        <li data-bs-slide-to="2" data-bs-target="#carousel-977957">
        </li>
    </ol>

    <div class="carousel-inner">
        
        <div class="carousel-item active">
            <img class="d-block" alt="Carousel Bootstrap First" src="assets/img/car1.jpg"/>
        </div>
        
        <div class="carousel-item">
            <img class="d-block" alt="Carousel Bootstrap Second" src="assets/img/car2.jpg"/>

        </div>
        
        <div class="carousel-item">
            <img class="d-block" alt="Carousel Bootstrap Third" src="assets/img/car3.jpg"/>
        </div>
        
    </div> 

    <a class="carousel-control-prev" href="#carousel-977957" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span> <span class="sr-only"></span></a>
    <a class="carousel-control-next" href="#carousel-977957" data-bs-slide="next"><span class="carousel-control-next-icon"></span> <span class="sr-only"></span></a>
</div>

{% endblock %}

{% block content %}

<div class="shadow" id="grocerylist-block">
    
    <div id="cart-header">
        <h2 class="green">Boodschappen</h2>
    </div>

    <div class="d-flex flex-column justify-content-evenly" id="cart-content">
        
        {% for product in data %}
            <div class="cart-product d-flex flex-row justify-content-between">
                <img src={{"assets/img/products/#{product.product_id}.png"}}>
                
                <div class="cart-txt">
                    <h5 class="green">{{product.name}}</h5>
                    <p>{{product.descr}}</p>
                </div>

                <div class="cart-numbers d-flex justify-content-evenly align-items-center">
                    <p class="cart-qty"> {{(product.amount_needed / product.content)|round(0, 'ceil')}}</p>           
                    <p class="cart-price">{{product.price}}</p>
                    <div class="cart-icons"></div>
                </div>              

            </div>
        {% endfor %}

    </div>

    <div id="cart-footer">
        <h3>Totaal</h3>
    </div>



</div>

{% endblock %}