{% extends "main.html.twig" %}

{% block header %}

{##########################CAROUSEL#######################}
<div class="carousel slide" id="carousel-977957">
    
    <ol class="carousel-indicators">
        <li data-bs-slide-to="0" data-bs-target="#carousel-977957" class="active">
        </li>
        <li data-bs-slide-to="1" data-bs-target="#carousel-977957">
        </li>
        <li data-bs-slide-to="2" data-bs-target="#carousel-977957">
        </li>
    </ol>

    <div class="carousel-inner">
        
        <div class="carousel-item active">
            <img class="d-block" alt="Carousel Bootstrap First" src="assets/img/car1.jpg"/>
        </div>
        
        <div class="carousel-item">
            <img class="d-block" alt="Carousel Bootstrap Second" src="assets/img/car2.jpg"/>

        </div>
        
        <div class="carousel-item">
            <img class="d-block" alt="Carousel Bootstrap Third" src="assets/img/car3.jpg"/>
        </div>
        
    </div> 

    <a class="carousel-control-prev" href="#carousel-977957" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span> <span class="sr-only"></span></a>
    <a class="carousel-control-next" href="#carousel-977957" data-bs-slide="next"><span class="carousel-control-next-icon"></span> <span class="sr-only"></span></a>
</div>

{% endblock %}

{##########################GROCERY LIST#######################}

{% block content %}

<div class="shadow" id="grocerylist-block">
    
    <div id="cart-header">
        <h2 class="green">Boodschappen</h2>
    </div>

    <div class="d-flex flex-column justify-content-evenly" id="cart-content">
        
        {% set total_price = 0 %}

        {% for product in data %}
            {% set total_price = total_price + product.price %}
            
            <div id={{"grocerylist#{product.id}"}} class="cart-product d-flex flex-row justify-content-between">
                
                <img src={{"assets/img/products/#{product.product_id}.png"}}>
                
                <div class="cart-txt">
                    <h4 class="green">{{product.name}}</h4>
                    <p>{{product.descr}}</p>
                </div>

                <div class="cart-numbers d-flex justify-content-evenly align-items-start">
                    
                    <div class="cart-qty d-flex justify-content-center align-items-center">
                        <div class="qty-container d-flex justify-content-center align-items-center">
                            <p>{{(product.amount_needed / product.content)|round(0, 'ceil')}}</p>     
                        </div>
                    </div>
                     
                    <div class="cart-price d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-euro-sign cart-icon"></i>
                        <p>{{(product.price/100)|number_format(2, ',', '.')}}</p>
                    </div>

                    <div class="cart-icons d-flex justify-content-evenly align-items-center">
                        <i class="fa-solid fa-check cart-icon"></i>
                        <i class="fa-solid fa-trash cart-icon delete-product" data-value={{product.id}}></i>            
                    </div>

                </div>              

            </div>

        {% endfor %}

    </div>

    <div id="cart-footer" class="d-flex justify-content-between align-items-center">
        
        <h2>Totaal</h2>

        <div id="cart-txt-dummy">
        </div>
        
        <div class="cart-numbers d-flex justify-content-evenly align-items-start">
            <div class="cart-qty d-flex justify-content-center align-items-center">
                <div class="qty-container-dummy d-flex justify-content-center align-items-center">
                    <p></p>     
                </div>
            </div>
            
            <div>
                <div class="cart-price d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-euro-sign cart-icon"></i>
                    <p id="total-price">{{(total_price/100)|number_format(2, ',', '.')}}</p>
                </div>
            </div>

            <div class="cart-icons d-flex justify-content-evenly align-items-center">
                <i class="fa-solid fa-check cart-icon-dummy"></i>
                <i class="fa-solid fa-trash cart-icon" id="delete-all"></i>            
            </div>
        </div>
        
    </div>

</div>

<script>

///////////////////////////// DELETE PRODUCT IN GROCERYLIST /////////////////////////////////////////

$(".delete-product").on("click", function() {

    const product = $(this);
    const grocerylist_id = product.attr("data-value");

    $.ajax({
        url: "index.php",
        method: "GET",
        data: {"action": "delete_product_from_grocerylist", "grocerylist_id": grocerylist_id},
        dataType: "JSON",
        success: function(result) {
            
            var new_total_price = 0;

            result.forEach((product) => {

                const price = product['price'] / 100;
                new_total_price = new_total_price + price;

            });

            const new_total_price_formatted = new_total_price.toFixed(2).replace(".", ",");

            $("#total-price").html(new_total_price_formatted);

            const grocerylist_row = $(`#grocerylist${grocerylist_id}`);     
            grocerylist_row.remove();

        }
    });

});

$("#delete-all").on("click", function() {

    $.ajax({
        url: "index.php",
        method: "GET",
        data: {"action": "delete_grocerylist", "user_id": 2},
        success: function(result) {

            $("#total-price").html("0,00");

            $(".cart-product").remove();

        }
    });
});

///////////////////////////////// DELETE ALL PRODUCTS IN GROCERYLIST /////////////////////////////////

</script>

{% endblock %}